.shoes{
    height: 450px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 1px black;
    margin-top: 5px;
}
.shoes h4 a{
    text-decoration: none;
}
.shoes :hover{
    box-shadow: 0 0 5px black;
}
.shoes h4 :hover{
    box-shadow: 0 0 8px blue;
    color: black;
}